vti_encoding:SR|utf8-nl
vti_author:SR|AGAJ02\\荆蕾
vti_modifiedby:SR|AGAJ02\\荆蕾
vti_timelastmodified:TR|24 Apr 2005 05:35:49 -0000
vti_timecreated:TR|12 Mar 2005 04:44:46 -0000
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{6B497516-36DE-4D95-9A23-E660B97B384A}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|24 Apr 2005 05:10:40 -0000
vti_cacheddtm:TX|24 Apr 2005 04:34:15 -0000
vti_filesize:IR|2415
vti_cachedlinkinfo:VX|S|b4.gif S|b3_01.gif S|b3_02.gif S|b3_03.gif S|b1.gif S|b2_01.gif S|b2_01.gif S|b2_02.gif S|b2_01.gif S|b2_01.gif S|b2_02.gif S|5_02.gif S|5_02.gif S|6_02.gif S|5_04.gif S|5_04.gif S|6_04.gif S|5_01.gif S|5_01.gif S|6_01.gif S|5_03.gif S|5_03.gif S|6_03.gif S|b3_01.gif S|b3_02.gif S|b3_03.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/mstheme31476/b4.gif FSUS|_themes/mstheme31476/b3_01.gif FSUS|_themes/mstheme31476/b3_02.gif FSUS|_themes/mstheme31476/b3_03.gif FSUS|_themes/mstheme31476/b1.gif FSUS|_themes/mstheme31476/b2_01.gif FSUS|_themes/mstheme31476/b2_01.gif FSUS|_themes/mstheme31476/b2_02.gif FSUS|_themes/mstheme31476/b2_01.gif FSUS|_themes/mstheme31476/b2_01.gif FSUS|_themes/mstheme31476/b2_02.gif FSUS|_themes/mstheme31476/5_02.gif FSUS|_themes/mstheme31476/5_02.gif FSUS|_themes/mstheme31476/6_02.gif FSUS|_themes/mstheme31476/5_04.gif FSUS|_themes/mstheme31476/5_04.gif FSUS|_themes/mstheme31476/6_04.gif FSUS|_themes/mstheme31476/5_01.gif FSUS|_themes/mstheme31476/5_01.gif FSUS|_themes/mstheme31476/6_01.gif FSUS|_themes/mstheme31476/5_03.gif FSUS|_themes/mstheme31476/5_03.gif FSUS|_themes/mstheme31476/6_03.gif FSUS|_themes/mstheme31476/b3_01.gif FSUS|_themes/mstheme31476/b3_02.gif FSUS|_themes/mstheme31476/b3_03.gif
