vti_encoding:SR|utf8-nl
vti_author:SR|AGAJ02\\荆蕾
vti_modifiedby:SR|AGAJ02\\荆蕾
vti_timelastmodified:TR|24 Apr 2005 05:35:49 -0000
vti_timecreated:TR|12 Mar 2005 04:44:46 -0000
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{0268635A-A98B-498A-81B2-D31C921E60AF}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|24 Apr 2005 05:10:40 -0000
vti_cacheddtm:TX|24 Apr 2005 04:34:15 -0000
vti_filesize:IR|2457
vti_cachedlinkinfo:VX|S|4.gif S|3_01.gif S|3_02.gif S|3_03.gif S|1.gif S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|5_02.gif S|7_02.gif S|6_02.gif S|5_04.gif S|7_04.gif S|6_04.gif S|5_01.gif S|7_01.gif S|6_01.gif S|5_03.gif S|7_03.gif S|6_03.gif S|3_01.gif S|3_02.gif S|3_03.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/mstheme31476/4.gif FSUS|_themes/mstheme31476/3_01.gif FSUS|_themes/mstheme31476/3_02.gif FSUS|_themes/mstheme31476/3_03.gif FSUS|_themes/mstheme31476/1.gif NSUS|_themes/mstheme31476/鏈爣棰 NSUS|_themes/mstheme31476/鏈爣棰 NSUS|_themes/mstheme31476/鏈爣棰 NSUS|_themes/mstheme31476/鏈爣棰 NSUS|_themes/mstheme31476/鏈爣棰 NSUS|_themes/mstheme31476/鏈爣棰 FSUS|_themes/mstheme31476/5_02.gif FSUS|_themes/mstheme31476/7_02.gif FSUS|_themes/mstheme31476/6_02.gif FSUS|_themes/mstheme31476/5_04.gif FSUS|_themes/mstheme31476/7_04.gif FSUS|_themes/mstheme31476/6_04.gif FSUS|_themes/mstheme31476/5_01.gif FSUS|_themes/mstheme31476/7_01.gif FSUS|_themes/mstheme31476/6_01.gif FSUS|_themes/mstheme31476/5_03.gif FSUS|_themes/mstheme31476/7_03.gif FSUS|_themes/mstheme31476/6_03.gif FSUS|_themes/mstheme31476/3_01.gif FSUS|_themes/mstheme31476/3_02.gif FSUS|_themes/mstheme31476/3_03.gif
