vti_encoding:SR|utf8-nl
vti_author:SR|AGAJ02\\荆蕾
vti_modifiedby:SR|AGAJ02\\荆蕾
vti_timelastmodified:TR|29 May 2005 12:02:40 -0000
vti_timecreated:TR|29 May 2005 12:02:40 -0000
vti_cacheddtm:TX|29 May 2005 12:02:40 -0000
vti_filesize:IR|2457
vti_cachedlinkinfo:VX|S|4.gif S|3_01.gif S|3_02.gif S|3_03.gif S|1.gif S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|鏈爣棰 S|5_02.gif S|7_02.gif S|6_02.gif S|5_04.gif S|7_04.gif S|6_04.gif S|5_01.gif S|7_01.gif S|6_01.gif S|5_03.gif S|7_03.gif S|6_03.gif S|3_01.gif S|3_02.gif S|3_03.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/mstheme31477/4.gif FSUS|_themes/mstheme31477/3_01.gif FSUS|_themes/mstheme31477/3_02.gif FSUS|_themes/mstheme31477/3_03.gif FSUS|_themes/mstheme31477/1.gif NSUS|_themes/mstheme31477/鏈爣棰 NSUS|_themes/mstheme31477/鏈爣棰 NSUS|_themes/mstheme31477/鏈爣棰 NSUS|_themes/mstheme31477/鏈爣棰 NSUS|_themes/mstheme31477/鏈爣棰 NSUS|_themes/mstheme31477/鏈爣棰 FSUS|_themes/mstheme31477/5_02.gif FSUS|_themes/mstheme31477/7_02.gif FSUS|_themes/mstheme31477/6_02.gif FSUS|_themes/mstheme31477/5_04.gif FSUS|_themes/mstheme31477/7_04.gif FSUS|_themes/mstheme31477/6_04.gif FSUS|_themes/mstheme31477/5_01.gif FSUS|_themes/mstheme31477/7_01.gif FSUS|_themes/mstheme31477/6_01.gif FSUS|_themes/mstheme31477/5_03.gif FSUS|_themes/mstheme31477/7_03.gif FSUS|_themes/mstheme31477/6_03.gif FSUS|_themes/mstheme31477/3_01.gif FSUS|_themes/mstheme31477/3_02.gif FSUS|_themes/mstheme31477/3_03.gif
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{74788E45-FCF9-4DE0-A64E-0FF7CFFAE727}
vti_backlinkinfo:VX|
