vti_encoding:SR|utf8-nl
vti_author:SR|AGAJ02\\荆蕾
vti_modifiedby:SR|AGAJ02\\荆蕾
vti_timelastmodified:TR|29 May 2005 12:02:40 -0000
vti_timecreated:TR|29 May 2005 12:02:40 -0000
vti_cacheddtm:TX|29 May 2005 12:02:40 -0000
vti_filesize:IR|14555
vti_cachedlinkinfo:VX|S|bluedot.gif S|8.gif S|鍔ㄧ敾鍒濈3.gif
vti_cachedsvcrellinks:VX|NSUS|_themes/mstheme31477/bluedot.gif FSUS|_themes/mstheme31477/8.gif NSUS|_themes/mstheme31477/鍔ㄧ敾鍒濈3.gif
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{EE3DC5AF-57DB-4B33-9A0F-EA8303238279}
vti_backlinkinfo:VX|
