vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|zh-cn
公司全称:SW|安全与环境工程学院
作者:SW|FrontPage 公司展现站点向导
vti_missingoverlays:VX|
vti_usernames:VR|
vti_timecreated:TR|10 Mar 2005 07:15:04 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
公司传真:SW|010-65976431
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonnextlabel:SR|下一页
公司简称:SW|safedep
公司站点管理员:SW|safedep@cueb.edu.cn
vti_textindexood:IR|1
vti_approvallevels:VR|同意 拒绝 挂起检查
vti_themedefault:SR|mstheme31476 1111
vti_borderdefault:SR|tlrb
公司地址:SW|北京市朝阳区金台里2号首都经济贸易大学
公司电子邮件:SW|safedep@cueb.edu.cn
vti_hassearchbot:BR|true
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|旅行 费用报表 商务 竞争 目的/目标 主意 杂项 等待 VIP 处理中 计划 日程表
公司电话:SW|010-65976431
vti_missingoverlaylabels:VX|
vti_approvalapproved:SR|同意
vti_approvaldenied:SR|拒绝
vti_defaultcharset:SR|gb2312
vti_navbuttonuplabel:SR|上一层
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.6738
vti_ignorekeyboard:IR|1
vti_navbuttonprevlabel:SR|上一页
vti_navbuttonhomelabel:SR|主页
vti_dependenciesood:IR|1
